# Connect to MongoDB Cluster

In [ ]:
mongosh "mongodb+srv://cluster0.scmie.mongodb.net/" --username student01

# Importing and Exporting Data

SRV connection string adalah Format khusus yang digunakan untuk membuat koneksi antara aplikasi dan MongoDB Instance.

In [ ]:
mongodump --uri "mongodb+srv://student01:student01@cluster0.scmie.mongodb.net/sample_supplies"

In [ ]:
mongoexport --uri="mongodb+srv://student01:student01@cluster0.scmie.mongodb.net/sample_supplies" --collection=sales --out=sales.json

In [ ]:
mongorestore --uri "mongodb+srv://student01:student01@cluster0.scmie.mongodb.net/sample_supplies" ~/dump/sample_supplies/sales.bson --drop

In [ ]:
mongoimport --uri="mongodb+srv://student01:student01@cluster0.scmie.mongodb.net/sample_supplies" ~/dump/sample_supplies/sales.json --collection sales --drop

### Find Command

In [ ]:
mongosh "mongodb+srv://student01:student01@cluster0.scmie.mongodb.net/admin"

In [ ]:
show dbs

use sample_training

show collections

db.zips.find({"state": "NY"})

In [ ]:
db.zips.find({"state": "NY"}).count()

db.zips.find({"state": "NY", "city": "ALBANY"})

db.zips.find({"state": "NY", "city": "ALBANY"}).pretty()

# Creating and Manipulating Documents

### Inserting New Documents - insert() and errors

In [ ]:
use sample_training

db.inspections.findOne();

In [ ]:
db.inspections.insert({
      "_id" : ObjectId("56d61033a378eccde8a8354f"),
      "id" : "10021-2015-ENFO",
      "certificate_number" : 9278806,
      "business_name" : "ATLIXCO DELI GROCERY INC.",
      "date" : "Feb 20 2015",
      "result" : "No Violation Issued",
      "sector" : "Cigarette Retail Dealer - 127",
      "address" : {
              "city" : "RIDGEWOOD",
              "zip" : 11385,
              "street" : "MENAHAN ST",
              "number" : 1712
         }
  })

This will get an error

In [ ]:
db.inspections.insert({
      "id" : "10021-2015-ENFO",
      "certificate_number" : 9278806,
      "business_name" : "ATLIXCO DELI GROCERY INC.",
      "date" : "Feb 20 2015",
      "result" : "No Violation Issued",
      "sector" : "Cigarette Retail Dealer - 127",
      "address" : {
              "city" : "RIDGEWOOD",
              "zip" : 11385,
              "street" : "MENAHAN ST",
              "number" : 1712
         }
  })

This will success because create new _id

In [ ]:
db.inspections.find({"id" : "10021-2015-ENFO", "certificate_number" : 9278806}).pretty()

### Inserting New Documents - insert() order

In [ ]:
db.inspections.insert([ { "test": 1 }, { "test": 2 }, { "test": 3 } ])

insert test 1,2,3

In [ ]:
db.inspections.insert([{ "_id": 1, "test": 1 },{ "_id": 1, "test": 2 },
                       { "_id": 3, "test": 3 }])

Insert the same "_id": 1

In [ ]:
db.inspections.find({ "_id": 1 })

Hanya [ { _id: 1, test: 1 } ] yang muncul, _id:3 tidak muncul. 
Itu terjadi karena saat terjadi error di _id:1 yang kedua, perintah insert akan langsung terhenti, sehingga _id:3 tidak masuk ke dalam collections.
Untuk menghindari hal ini, kita perlu melakukan unorder data saat melakukan insert data

In [ ]:
db.inspections.insert([{ "_id": 1, "test": 1 },{ "_id": 1, "test": 2 },
                       { "_id": 3, "test": 3 }],{ "ordered": false })

In [ ]:
db.inspection.insert([{ "_id": 1, "test": 1 },{ "_id": 3, "test": 3 }])

Mengapa "_id": 1 tetap ke insert ???

In [ ]:
show collections

In [ ]:
use training

Ketika kita "use" suatu db yg belum ada, mongo shell otomatis membuat db dengan nama tersebut. Tetapi, jika db itu tidak di insert collection, maka tidak akan muncul saat di desc/show

In [ ]:
show dbs

### Updating Documents - mongo shell

In [ ]:
use sample_training

Find all documents in the zips collection where the zip field is equal to "12434".

In [ ]:
db.zips.find({ "zip": "12534" }).pretty()

Find all documents in the zips collection where the city field is equal to "HUDSON".

In [ ]:
db.zips.find({ "city": "HUDSON" }).pretty()

Find how many documents in the zips collection have the city field equal to "HUDSON".

In [ ]:
db.zips.find({ "city": "HUDSON" }).count()

Update all documents in the zips collection where the city field is equal to "HUDSON" by adding 10 to the current value of the "pop" field.

In [ ]:
db.zips.updateMany({ "city": "HUDSON" }, { "$inc": { "pop": 10 } })

Update a single document in the zips collection where the zip field is equal to "12534" by setting the value of the "pop" field to 17630.

In [ ]:
db.zips.updateOne({ "zip": "12534" }, { "$set": { "pop": 17630 } })

Update a single document in the zips collection where the zip field is equal to "12534" by setting the value of the "population" field to 17630.

In [ ]:
db.zips.updateOne({ "zip": "12534" }, { "$set": { "population": 17630 } })

Find all documents in the grades collection where the student_id field is 151 , and the class_id field is 339.

In [ ]:
db.grades.find({ "student_id": 151, "class_id": 339 }).pretty()

Find all documents in the grades collection where the student_id field is 250 , and the class_id field is 339.

In [ ]:
db.grades.find({ "student_id": 250, "class_id": 339 }).pretty()

Update one document in the grades collection where the student_id is ``250`` *, and the class_id field is 339 , by adding a document element to the "scores" array.

In [ ]:
db.grades.updateOne({ "student_id": 250, "class_id": 339 },
                    { "$push": { "scores": { "type": "extra credit",
                                             "score": 100 }
                                }
                     })

### Deleting Documents and Collections

In [ ]:
use sample_training

Look at all the docs that have test field equal to 1.

In [ ]:
db.inspections.find({ "test": 1 }).pretty()

Look at all the docs that have test field equal to 3.

In [ ]:
db.inspections.find({ "test": 3 }).pretty()

Delete all the documents that have test field equal to 1.

In [ ]:
db.inspections.deleteMany({ "test": 1 })

Delete one document that has test field equal to 3.

In [ ]:
db.inspections.deleteOne({ "test": 3 })

Inspect what is left of the inspection collection.

In [ ]:
db.inspection.find().pretty()

View what collections are present in the sample_training collection.

In [ ]:
show collections

Drop the inspection collection.

In [ ]:
db.inspection.drop()

# Advanced CRUD Operations

### Query Operators - Comparison

In [ ]:
use sample_training

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was not Subscriber:

In [ ]:
db.trips.find({ "tripduration": { "$lte" : 70 },
                "usertype": { "$ne": "Subscriber" } }).pretty()

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was Customer using a redundant equality operator:

In [ ]:
db.trips.find({ "tripduration": { "$lte" : 70 },
                "usertype": { "$eq": "Customer" }}).pretty()

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was Customer using the implicit equality operator:

In [ ]:
db.trips.find({ "tripduration": { "$lte" : 70 },
                "usertype": "Customer" }).pretty()

### Query Operators - Logic

In [ ]:
use sample_training

In [ ]:
db.routes.find({ "$and": [ { "$or" :[ { "dst_airport": "KZN" },
                                    { "src_airport": "KZN" }
                                  ] },
                          { "$or" :[ { "airplane": "CR2" },
                                     { "airplane": "A81" } ] }
                         ]}).pretty()